.start {
    font-size: 2em;
    margin: 5.8em;
}

#clock {
    position: relative;
    width: 378px;
    height: 378px;
    background-image: url('../img/clockFace.png');
    left: 50%;
    margin: 5em 0 0 -189px;
}

#clock div {
    position: absolute;
}

#clock img {
    position: absolute;
    transform: translate(-50%, -50%);
}
#hour, #minute, #second {
    background-color: black;
    position: absolute;
    transform-origin: 100% 100%;
}

/* ANIMACIONES Y TRANSFORMACIONES */
@keyframes rotate360 {
    to {
        transform: rotate(360deg);
    }
}

#hour.start {
    animation: rotate360 43200s infinite linear;
}

#minute.start {
    animation: rotate360 3600s infinite linear;
}

#second.start {
    animation: rotate360 60s infinite steps(60);
}