.reproductor {
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px auto;
  }
  
  .controles {
    display: flex;
    align-items: center;
  }
  
  .play-pause {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  
  .icono {
    fill: #000;
    width: 24px;
    height: 24px;
  }
  
  .tiempo-actual,
  .nombre-fichero {
    margin-left: 10px;
  }
  
  audio {
    width: 100%;
    height: 40px;
    border: none;
  }
  
  /* Estilos adicionales para ocultar elementos al pausar */
  
  .reproductor.pausado .controles .tiempo-actual,
  .reproductor.pausado .controles .nombre-fichero {
    display: none;
  }
  