* {
    font-family: sans-serif;
  }
  
  body {
    background-color: #121212;
    color: #fff;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #player {
    background-color: #282828;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 80%;
    max-width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  #player-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  #player-header h2 {
    margin: 0;
  }
  
  #player-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  #player-controls button {
    background-color: #1DB954;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
  }
  
  #player-controls button:hover {
    background-color: #19A74C;
  }
  
  #player-progress {
    width: 100%;
    height: 4px;
    background-color: #333;
    border-radius: 2px;
    margin-top: 10px;
    position: relative;
  }
  
  #player-progress .progress-bar {
    background-color: #1DB954;
    height: 100%;
    width: 0%;
    border-radius: 2px;
  }
  
  #player-info {
    margin-top: 10px;
    text-align: center;
  }
  
  #player-info p {
    margin: 0;
    font-size: 14px;
  }
  
  #player-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
  }
  #miAudio{
    display: none;
  }